.partner {
  background-color: white;
  padding-bottom: 130px;
}

.partnerBlockTitle {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  color: #050c33;
  margin-bottom: 10px;
  margin-top: 0;
}

.partnerBlockText {
  width: 740px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #505570;
  margin-bottom: 40px;
}

.partnerBlockFirst {
  margin: 100px 0;
}

.partnerBlockSliderInclude {
  border-radius: 5px;
  margin-right: 10px;
}
